
* {
    margin: 0px;
    padding: 0px;
    
}

body {
    
    border-right: none;
    border-radius: 5px;
    margin: 0;
    width: 375px;
    height: 100%;
    overflow: auto;
    font-family: 'GothamPro', Arial, sans-serif;
    color: #ffffff;
    cursor: default;
   background:#23282e;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.page{
    display: block;
}


.nav-bar{
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 4px;
    overflow: auto;
    top:0;
    width: 365px;
    box-shadow: 0 5px 10px #000;
    font-size: 20px;
    /* border-bottom: 3px solid #8a8d85; */
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #282f37; 
    color:white;
    display:inline-block ;
    
}

.nav-bar li {
    float: left;
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
    text-decoration: none;
}
.logo {
    position: relative;
    height: 50px;
    width: 60px;
    padding-left: 3%;
    padding-top: 1%;
}


.input
{
font-family: cursive;
box-shadow: 0 5px 10px #000;
margin-top: 10px;
margin-left: 6px;
margin-right: 4px;
height:fit-content;
white-space: pre-wrap;
background:#282f37;
border-radius: 5px;
/*border-bottom: 3px solid #8a8d85;*/

}

.input #example-input{
    border: 2px solid #8a8d85;
    
}

.canvas{
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #282f37;
    box-shadow: 0 5px 10px #000;
    /* padding-bottom: 5px; */
    /* border-bottom: 3px solid #8a8d85; */
    
    
}

#example-canvas
{
position: relative;
width: 365px;
border-radius: 5px;
height: 200px;
background-color:rgb(255, 249, 249);
margin: auto;
display: block;
}

#info{
    text-align: center;
    padding: 20px;
    font-size: smaller;
    color: red;
}

.mol_info{
    font-family: cursive;
    font-size: large;
    display: grid;
    grid-template-rows: repeat(7,14.5%);
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #282f37;
    box-shadow: 0 5px 10px #000;
    height: 300px;
}

.mol_info > div{
    margin-top: 5px;
    padding: 2px;
    border-radius: 3px;
    border:2px solid rgb(68, 68, 70);
    box-shadow: 0 5px 10px #000;

}

.mol_info >div >span{
    float: right;
    padding-right: 20px;
    color:red;
    font-weight: bold;
}

.mol_info >.btn{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding:0.3em 1.2em;
    gap: 5px;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s
}


.footer{
        font-size: 15px;
        width: 365px;
        position: absolute;
        margin-top: 10px;
        box-shadow: 0 5px 10px #000;
        margin-left: 6px;
        margin-right: 4px;
        border-radius: 5px;
        background: #282f37;
        text-align: center;
        color:white;

}

.icon{
    height: 20px;
    
}

.icons li{
    display: inline;
    padding: 10px;
}

.icons{
    padding-top: 10px;
}
